
@import 'partials/extends';
@import 'partials/variables';
@import 'partials/customClasses';

*{
    ::selection{
        background-color: $pink !important;
    }
}
.fixed-elements{
    .btn-contact{
        position: fixed;
        z-index: 9;
        bottom: 20px;
        right: 20px;
        padding: 0;
        width: 70px;
        height: 70px;
        i{
            line-height: 70px;
        }
        
    }
    .btn-join{
        position: fixed;
        z-index: 9;
        bottom: 110px;
        right: 30px;
        padding: 0;
        width: 50px;
        height: 50px;
        i{
            line-height: 50px;
        }
        
    }
}
header{
    background-image: url(../images/Main-slider_pattern.jpg);
    background-size: 100%;
    height: 100vh;

    .top-nav{
        border-bottom: 1px solid rgb(221 221 221 / 42%);    

    .right-top {

        .social-media{
            

            li{
                display: inline-block;
                padding: 0 .5rem;
                a{
                    transition: .3s;
                    text-decoration: none;
                    color: silver;
                    &:hover{
                        color: gray;
                    }
                }

            }
        }

     
    }
    }
    nav{
         .dropdown-menu {
            background-color: white;
            width: 2    80%;
            position: absolute;
            top: -10px !important;
            left: 0px !important;
         }

         #navbar{

            li{
                position: relative;
                a.nav-link{
                   padding : 20px 0;
                }
               
               
                

                .submenu{
                    padding: 30px 10px; 
                    transition: 0.3s ease-in-out;
                    transform: scale(0);
                    position: absolute;
                    top: 60px;
                    left: -10px;
                 
                    width: 500px;
                    background-color: white;
                    ul{
                        li{
                            padding: .3rem 0 ;
                            a{
                                color: black !important;
                                text-decoration: none;
                                &:hover{
                                    color: $pink !important;
                                }

                            }
                        }
                    }
                }
                .submenu::before{
                    content: '';
                    width: 10px;
                    height: 20px;
                    background-color: white;
                    border: none;
                    outline: none;
                    position: absolute;
                    transform: rotate(45deg);
                    top: -7px;
                    left: 50px;
                    
                }
                 &:hover{
                    a{
                        color: $blue !important; 
                    }
                    .submenu{
                        transform: scale(1);
                    }
                    
                }
            }
         }



    }
    .text-gradient{
        color: transparent !important;
        background: linear-gradient(to right, #D01498,#647ECB) !important;
        background-clip: text!important;
    }
   
}

main{
  
    #items-sec{
        .items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
        .item{
            cursor: pointer;
            box-shadow: 0 0 25px rgb(0 0 0 / 10%);
            &:hover{
                transition: 0.5s;
               transform: translateY(-3px);
                box-shadow: 0 0 25px rgb(0 0 0 / 17%);
                .btn-add{
                    opacity: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            a{
                color: black;
                &:hover{
                    color: $blue !important;
                }
            }
            i{
                transition: 0.3s;
                &:hover{
                    color: gray;
                }
            }
            .item-title{
                border-bottom: 1px solid silver;
            }
            .btn-add{
                transition: 0.5s;
                opacity: 0; 
              top: 55%;
              left: 50%;
              transform: translateX(-50%);

            }
        }
    } 
    }
    #trending-sec{
       background-color: #fafafa;  
       .collectors{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 2%;
        row-gap: 15px;
        .collector{
            &:hover{
                img{
                    transform: translateY(-3px);
                }
            }
            a:hover{
                color: $blue !important;
            }
            img{
                transition: 0.3s;
                cursor: pointer ;
            }
        }

    }

    }
    #services{
  
        .bg-img{
        background-image: url(https://enefti.modeltheme.com/wp-content/uploads/2022/02/Main-services_bg.jpg?id=6716);
        background-size: 100%;
        background-position: center center;
        }
        .service{
            &:hover{
                a{
                    transform: translateY(-5px);
                }
            }
            a{
                color: white !important;
                cursor: pointer;
                transition: 0.5s;
                background-color: $pink !important;
                height: 60px;
                width: 60px;
                i{
                    line-height: 60px;
                }

            }
           
        }
        
    }
   
  
}


